---
layout: default
title: Home
---

<div class="home">

  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <h1>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      {% if post.content contains '<!--more-->' %}
    
    	{{ post.content | split:'<!--more-->' | first }}
    
    	<p><a href="{{ post.url }}">Continue reading</a></p>

     {% else %}

    	{{ post.content }}
    
     {% endif %}
      <span class="meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>

</div>
